*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.postingSection{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 50%;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.UsersSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

.profileCari{
    display: flex;
    border: 2px solid gray;
    padding: 0.5rem;
    border-radius: 10rem;
    width: max-content;
    align-items: center;
    height: max-content;
}
.profileCari img{
    border-radius: 10rem;
    width: 3rem;
    height: 3rem;
}
input{
    width: 20rem;
    height: 2rem;
    display: flex;
    border-radius: 0rem 10rem 10rem 0rem;
    text-align:center;
    border: none;
}

.users{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.user{
    border: 2px black solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.btnReaksi{
    display: flex;
    padding-top: 1rem;
}

p{
    padding: 0.2rem;
}

.btn{
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 4rem;
    font-weight: bold;
    margin-right: 1rem;
}