*{
    margin: 0;
    padding: 0;
}

.Footers{
    display: flex;
    position: fixed;
    width: 20%;
    top: 92%;
    justify-content: center;
}
.paraph{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.5rem;
    width: max-content;
    height: 3rem;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem ;
}